* {
  box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  font: 18px arial, sans-serif;
  background: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-attachment: : fixed;
  
}

.jumbotron .h1, .jumbotron h1 {
    text-align: center;
    background-color: red;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold;
    font-style: italic;
    padding: 20px 20px;
    margin: auto;

}

#travels {
  width: 70%;
}

.travel-item {
  float: left;
  padding: 10px;
}

form {
  margin-top: -50px;
  float: right;
  width: 30%;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

input[type="text"] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

button,
input[type="submit"] {
  padding: 5px 20px;
  margin: 0 10px 10px 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #659a98;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #bbb;
}

button:hover,
input[type="submit"]:hover {
  background: #334e4d;
}

button.active {
  background: #334e4d;
}

#copyright {
  font-size: 12px;
}
